@model List<Brand>

<h1>Marcas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbode>
        @foreach(var brand in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => brand.Name)</td>
            </tr>
        }
    </tbode>
</table>