@using IntroASPMVC.Models.ViewModel;
@model BeerViewModel

<h1>Crear Cerveza</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @* en este caso vamos a crear el Formulario, Cabe decir que el Form busca un metodo Post por defecto en el controlador, sin importar que
        tengan el mismo nombre. *@
        <form asp-action="Create">
            @* esto es una validacion *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                @* validacion para el input *@
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                @* aqui vamos a traer los datos del viewModel que tenemos en el controlador *@
                @* asp-items="ViewBag.Brands" = es para traer los datos de ViewModel. *@
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* Razon tiene dos componentes para renderizar su codigo, en este caso, estamos selecionando el de abajo. *@
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}